<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Toroidal Chess</title>
    <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
    <link rel="stylesheet" href="css/board.css">

    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

      <!--
    <link href = "css/jquery-ui.css" rel = "stylesheet">
    <script src = "js/jquery-1.10.2.js"></script>
    <script src = "js/jquery-ui.js"></script>
    -->
    <script src="js/chessboard-0.3.0.min.js"></script>
  </head>

  <body>
    <h1 id="vs"> <span id="myName"><%= myName %></span> vs. <span id="enemyName"><%= enemyName %></span></h1>

    <div id="board_buttons">
      <div id='<%= roomNamer %>'></div>
      <div id="promotionBox"> <div id="promotionText"> </div> </div>
      <div id="resignBox"> <div id="resignText"> </div> </div>
      <div id="drawBox"> <div id="drawText"> </div> </div>
      <p id="announceWinner"></p>
      <div id="board1"></div>
      <div id="buttons">
          <button class="gameButtons" id="resign"> Resign </button>
          <button class="gameButtons" id="draw"> Propose Draw </button>
          <button class="gameButtons" id="return"> Return To Lobby </button>
      </div>
      <p id="Turn">Turn: White</p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/board.js"></script>
  </body>
</html>
