<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lobby</title>
    <link rel="stylesheet" href="css/lobby_page.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
     rel = "stylesheet">
     <link rel="stylesheet" href="css/chat.css">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- To host the above 3 things locally instead of using CDN:
    <link href = "jquery-ui.css" rel = "stylesheet">
    <script src = "jquery-1.10.2.js"></script>
    <script src = "jquery-ui.js"></script>
    -->
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <h1>Lobby</h1>
    <p id="welcome">Welcome, <span id="nickname"><%= user_nickname %></span>.</p>
    <div id="declineBox"> <div id="declineText"> </div> </div>
    <div id="waitBox"> <div id="waitText"> </div> </div>
    <div id="prettyAlertBox"></div>
    <div id="challengeBox"> <div id="challengeText"> </div> </div>


    <div id="gameOptions">
      <diV>
        <h3 id="sendChal"> Challenge options: </h3>
      </div>

      <div id="allSliders">
        <div class="sliderLabelContainer">
          <p class="sliderLabel">Show valid moves:</p>
        </div>
        <div class="container">
          <label class="switch" for="validMovesSlide">
            <input type="checkbox" id="validMovesSlide" />
            <div class="slider round"></div>
          </label>
        </div>

        <div class="sliderLabelContainer">
          <p class="sliderLabel">Show enemy threat:</p>
        </div>
        <div class="container">
          <label class="switch" for="enemyThreatSlide">
            <input type="checkbox" id="enemyThreatSlide" />
            <div class="slider round"></div>
          </label>
        </div>

        <div id="totalTimer">
          <div class="sliderLabelContainer">
            <p class="sliderLabel">Timed:</p>
          </div>
          <div class="container">
            <label class="switch" for="timedSlide">
              <input type="checkbox" id="timedSlide" />
              <div class="slider round"></div>
            </label>
          </div>
          <div id="timeOptionsContainer">
            <div id="minutesDiv" class="timeOptions">
              <p> Total time: </p>
              <input type="number" id="minutes" value="20" onblur="validateMinutes()">
              <p id="minutesPar"> minutes</p>
            </div>
            <div id="bonusDiv" class="timeOptions">
              <p> Bonus:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </p>
              <input type="number" id="bonus" value="5" onblur="validateBonus()">
              <p id="bonusPar"> seconds</p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div id="players_chat">
      <div id="online">
        <h2 id="player_header">Online Players</h2>
        <div id="playerListDiv"><ul id="playerList"></ul></div>
      </div>
      <div id="chatContainerContainer">
      <div id="chatContainer">
        <ul id="messages"></ul>
        <form id="messageForm" action="">
          <input id="m" autocomplete="off" />
          <button id="chatButton">Chat</button>
        </form>
      </div>
    </div>
    </div>
    <script src="js/prettyDialog.js"></script>
    <script src="js/socket_events.js"></script>
    <script src="js/eventInitializer.js"></script>
    <script src="js/chat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
    <script src="js/lobby_page.js"></script>
  </body>
</html>
