<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lobby</title>
    <link rel="stylesheet" href="css/lobby_page.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
     rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/lobby_page.js"></script>
  </head>

  <body>
    <h1>Lobby</h1>
    <p id="welcome">Welcome, <span id="nickname"><%= user_nickname %></span>.</p>
    <div id="uc">
      <div id="online">
        <h2 id="player_header">Available Players</h2>
        <ul id="playerList">
        </ul>
      </div>
      <div id="chat">
      </div>
    </div>
  </body>
</html>
