<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login_page.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
     rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!--  <script src="/socket.io/socket.io.js"></script> -->
    <script src="js/login_page.js"></script>
  </head>

  <body>
    <!-- Upon submitting form, server checks if nickname is unique. If so,
        continue to lobby, if not, get back this page with the id of the below div
        set to 'not_unique'. Then a jQuery function checks the id of the div and informs
        user that nickname is already chosen -->
    <div id='<%= unique %>'></div>
    <h1>Toroidal Chess</h1>
    <form action="/login" method="post" id="login">
        <label for="nickname">Enter nickname:</label>
        <input type="text" id="nickname" name="user_nickname">
        <button type="submit">Enter site</button>
    </form>
    <script type="text/javascript">
    /* set a function handler for the submit, which
       validates submissions */
      $('#login').submit(function() {
        const LIMIT = 15;
        if ($.trim($("#nickname").val()) === "") {
          alert('Your nickname cannot consist entirely of whitespace.');
          return false;
        }
        if ($("#nickname").val().length > LIMIT) {
          alert('Your nickname cannot be longer than ' + LIMIT + ' characters.');
          return false;
        }
      });
    </script>
  </body>
</html>
