<!-- A simple static page to explain the full rules in detail -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/rules_page.css">
    <title>Rules</title>
  </head>

  <body>
    <h1> Rules of Toroidal Chess </h1>
    <h2> Game Rules </h2>
    <p>This guide assumes you already know the rules of regular chess. Now,
       imagine that a regular chessboard was bent into a cylinder, so that
       the left and right edges were connected, as shown in the figure below:</p>
       <!--  include cylindrical illustration -->
       <img id="cylindrical" src="img/cylindrical-chess.jpeg" alt="Cylindrical Board">
    <p>This can be represented by a square board where the left and right edges
       are connected. So, if a piece moved off the left edge, it would reappear
       on the right edge, and vice-versa. As an example, in the image below, the
       greyed squares represent all legal moves for white's rook.
       The white rook can move from g5 to b5, even though there are pieces on e5
       and c5, since it can move right and wrap around the edge. It cannot
       however, move to d5, since its path in both directions is blocked.</p>
        <!-- include illustration of the above-->
        <img id="img_1" src="img/illustration_1.png" alt="Rules illustration">
    <p>Now, imagine further bending that cylinder into a torus (doughnut shape),
      so that the front and back edges are now connected, as in the image below:</p>
       <!-- TODO include toroidal illustration -->
       <img id="toroidal" src="img/toroidal.jpeg" alt="Toroidal Board">
      <p>This is toroidal chess. If represented by a square board,
      any piece that moves off the edge of the board
      reappears on the opposite edge. All the other rules of chess are exactly
      the same, with a few caveats. These are:</p>
      <ol>
          <li> The starting position is different. See below for an image of the
               starting position. </li>
          <li> There is no castling. </li>
          <li> Only pawns on the a, b, g, and h files can move 2 spaces on their
               first turn, and consequently, those are the only pawns that
               enpassant can apply to. </li>
          <li> A piece cannot move 8 spaces and wrap around to its starting
               position and be considered to have moved. All moves must change
               the board position. </li>
    </ol>
      <!-- include starting position illustration -->
      <img id="img_2" src="img/illustration_2.png" alt="Starting position illustration">
    <h2> Logging In </h2>
    <!-- TODO -->
    <p> There are a few restrictions on nicknames.</p>
    <ol>
      <li> Nicknames cannot be longer than 15 characters. </li>
      <li> Nicknames cannot consist entirely of whitespace. </li>
      <li> You cannot use the same nickname as someone currently logged in
           online. </li>
    </ol>
    <p>If your nickname violates any of these restrictions, you will be alerted
       and asked to pick a different nickname.</p>
    <h2> The Lobby </h2>
    <!-- TODO -->
    <p> A list of players who are currently online will appear. To challenge any
        of them to a game, simply click their name. They will receive an invite,
        which they can either decline or accept. If they accept, you two will be
        redirected to the game room, where you can play. Colors will be assigned
        randomly by the server. Currently, you can only play one game at a time,
        though this may change in the future. </p>
    <h3> Challenge Options </h3>
    <p> There are a few options you have when sending challenges. When you send
        a challenge, the opponent is notified of which options you picked, and a
        game with those options begins. The options are explained below: </p>
    <h4> Show valid moves: </h4>
    <p> When it's a player's turn, the computer will show the player valid moves
        when they mouse over one of their own pieces. Note that this applies to
        both players. </p>
    <h4> Show enemy threat: </h4>
    <p> When it's a player's turn, if they mouse over an enemy piece, the
        computer will highlight in red the squares that it threatens. These are
        not necessarily legal moves for the opponent; however, you cannot move
        your king into these squares, as doing so would leave you in check. This
        also applies to both players.</p>
    <h2> Game Buttons </h2>
    <!-- TODO -->
    <h4> Resign </h4>
    <p>This one's pretty self-explanatory, right?</p>
    <h4> Propose Draw </h4>
    <p> To prevent people from spamming draw proposals, once you propose a draw,
         you may not propose another draw until you have made a move. </p>
    <h4> Return To Lobby </h4>
    <p> As its name implies, this button will take you back to the lobby. Be
        aware though, that if you return to the lobby while the game is still
        ongoing, you will lose the game. </p>
    <h2> The Future </h2>
    <p> This web app is a work in progress. In the future, I may implement
        features like game chat, lobby chat, or others, as well as making the
        site look prettier. If you have any ideas for features you would like to
        see implemented, or bug reports, email me at:
        <!-- TODO setup toroidal email -->. Note: I'll include a way to
        email me once I figure out how to do that on a website without getting
        wrecked by spambots. Before sending a bug report, make
        sure you have a thorough understanding of the rules of the game. All
        the code for this web application can be found on my Github page
        <a href="https://github.com/RyanSharafuddin/Toroidal-Chess/tree/master"
         target="_blank">
        here</a>.</p>
  </body>
</html>
