.messageContainer {
    display: table-row;
}

.messageTile {
    display: table-cell;
    width: 100%;
    background: #eee;
    border: 1px solid black;
    padding-left: 4px;
    word-wrap: break-word;
}
.nameTile {
    display: table-cell;
    width: 20px;
    background: #eee;
    border: 1px solid black;
    padding-right: 4px;
}

#messageHeader {
  margin-bottom: 4px;
  text-align: center;
}
