h1 {
  text-align: center;
  font-size: 400%;
  margin: 42px 0px 8px 0px;
}

#welcome {
  text-align: center;
  font-size: 300%;
  margin: 0px 0px 8px 0px;
}

#playerList {
  list-style-type: none;
  margin: 8px 0px 16px 0px;
}

#player_header {
  text-decoration: underline;
  margin: 20px 0px 0px 10px;
}

#gameOptions {
  display: flex;
  margin-top: 30px;
  margin-left: 2%;
  width: 50%;
}
#gameOptions > div {
  flex: 1; /*grow*/
}

/* http://css3buttongenerator.com/ */
.challengeButton {
  margin: 8px 8px 8px 8px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 27px #000000;
  -moz-box-shadow: 0px 1px 27px #000000;
  box-shadow: 0px 1px 27px #000000;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #eba800;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.challengeButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*------------------ https://codepen.io/AllThingsSmitty/pen/MmxxOz -----------*/
#sendChal {
  margin: 0px 0px 5px 0px;
  position: relative;
  left: 0%;
}
.sliderLabelContainer {
  position: relative;
}

.sliderLabel {
  position: absolute;
  bottom: 7px;
  right: 5px;
  margin: 0px;
}

.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  margin: 0 auto;
  position: relative;
}
/*-----------------------------------------------------------------------------*/
